body {
	font-family: 'Noto Sans KR', sans-serif;
}

.cooking {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cooking.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 400px;
}

.makeup {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/makeup.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	height: 400px;
}

.guitar {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/guitar.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
	height: 400px;
}

.carousel-align-helper {
	text-align: center;
	height: 400px;
	line-height: 400px;
}

.carousel-content {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
}

.carousel-content h1{
	font-size: 32px;
	color: white;
	margin-bottom: 18px;
}

.carousel-content p {
	font-size: 22px;
	color: white;
	margin-bottom: 48px;
}

.carousel-content .lookup-class a {
	font-size: 16px;
	color: white;
	background-color: #5900e7;
	padding: 10px 30px;
	text-decoration: none;
}

.share-talent {
	margin-top: 50px;
}

.container {
	margin-bottom: 50px;
}

.class-box {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	margin-bottom: 20px;
}

.class-name {
	padding: 10px;
}

.class-name h2 {
	font-size: 18px;
	color: #4a4a4a;
	margin-bottom: 10px;
}

.class-name img {
	width: 20px;
	height: 20px;
}

.class-name p {
	font-size: 13px;
	color: #4a4a4a;
	margin: 0;
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;
}